<Files "*.php">
	Require ip 127.0.0.1
</Files>
<Files "index.php">
    Require all granted
</Files>

RewriteEngine On
RewriteBase /video/api
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ /video/api/index.php [QSA,L]
